<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Photos</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <h2>Upload Photos</h2>
    <button onclick="window.location.href='/upload-entry-photo'">Upload Entry Photo</button>
    <button onclick="window.location.href='/upload-exit-photo'">Upload Exit Photo</button>

  <a href="/logout">Вийти</a>
</body>
</html>
