<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Parking Sessions</title>
       <link rel="stylesheet" href="/static/home.css">
   </head>
<body>
      <h2>Find Parking Sessions</h2>
    <form id="findParkingForm">
        <label for="licensePlate">Enter License Plate:</label>
        <input type="text" id="licensePlate" name="licensePlate" required>
        <button type="submit">Find Parking Sessions</button>
    </form>

    <div id="output"></div>
    <div id="message"></div>

    <a href="/home">Назад до кабінету</a>
    <a href="/logout">Вийти</a>

   <script src="scripts/home.js"></script></body>
</html>
