<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Entry Photo</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <h2>Upload Entry Photo</h2>
    <form id="upload-form" class="upload-form" enctype="multipart/form-data" action="/entry_photo/upload-entry-photo" method="POST">
        <input type="file" id="file" name="entry_photo" required><br>
<!--        <input type="text" id="license_plate" name="license_plate" placeholder="License Plate" required><br>-->
        <button type="submit">Upload</button>
    </form>
    <div id="message"></div>
    <a href="/home">Назад до кабінету</a>
    <a href="/logout">Вийти</a>
    <script src="scripts/upload_entry_photo.js"></script>


</body>
</html>
